@import '../../App.scss';

.Goals {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;

  .Content {
    width: 100%;
    max-width: 1680px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: $BreakLarge) {
      width: 90%;
    }

    h3 {
      font-size: 2.9rem;
      margin-bottom: 4rem;
      font-family: 'Helvetica-Bold';
    }
  }
}

.WideInfoSection {
  width: 100%;
  margin: 6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 55.9%;
    height: 33rem;
    border-radius: 1.4rem;
    object-fit: cover;
  }

  .Info {
    width: 38%;

    .IconBox {
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 0.9rem;
      background-color: $DarkOrange;
      display: flex;
      justify-content: center;
      align-items: center;

      .Icon {
        font-size: 2rem;
        path {
          color: black;
        }
      }
    }

    h5 {
      margin-top: 2rem;
      font-size: 2.3rem;
      font-family: 'Helvetica-Bold';
    }

    p {
      margin-top: 2rem;
      font-size: 1.2rem;
      line-height: 1.9rem;
    }
  }
}
