$BGColor: rgba(21, 21, 21, 1);
$DarkOrange: rgba(241, 158, 34, 1);
$DarkishOrange: rgba(239, 182, 97, 1);
$LightOrange: rgba(239, 205, 153, 1);
$BlackOrange: rgba(41, 37, 30, 1);
$BreakLarge: 1919px;
$ContainerLarge: 1320px;
$BreakMedium: 1439px;
$ContainerMedium: 1000px;
$BreakSmall: 1020px;
$ContainerSmall: 600px;

html {
  width: 100%;
  height: 100%;
  font-weight: 400;
  overflow-y: overlay;
}

body {
  min-height: 100%;
  width: 100%;
}

* {
  font-family: 'Helvetica-Bold';
  cursor: default;
  margin: 0;
  padding: 0;
  margin: none;
  border: none;
  padding: none;
  outline: none;
  background: none;
  color: white;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0.5rem;

  &-thumb {
    background: rgb(200, 200, 200);
    border-radius: 0.1rem;
  }
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;

  &:active {
    color: black;
  }
}

button {
  cursor: pointer;
}

p {
  font-family: 'Futura-LightBT';
}

.App {
  background-color: rgba(21, 21, 21, 1);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ThreeScene {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Fonts
// Futura
@font-face {
  font-family: 'Futura-Bold';
  src: url('~/src/assets/fonts/Futura/Futura-Bold-font.ttf');
}
@font-face {
  font-family: 'Futura-Book';
  src: url('~/src/assets/fonts/Futura/Futura-Book-font.ttf');
}
@font-face {
  font-family: 'Futura-EB';
  src: url('~/src/assets/fonts/Futura/Futura-Extra-Black-font.ttf');
}
@font-face {
  font-family: 'Futura-Heavy';
  src: url('~/src/assets/fonts/Futura/Futura-Heavy-Font.ttf');
}
@font-face {
  font-family: 'Futura-LightBT';
  src: url('~/src/assets/fonts/Futura/Futura-light-bt.ttf');
}
@font-face {
  font-family: 'Futura-Light';
  src: url('~/src/assets/fonts/Futura/Futura-Light-font.ttf');
}
@font-face {
  font-family: 'Futura-MBT';
  src: url('~/src/assets/fonts/Futura/Futura-medium-bt.ttf');
}
@font-face {
  font-family: 'Futura-MCBT';
  src: url('~/src/assets/fonts/Futura/Futura-medium-condensed-bt.ttf');
}
@font-face {
  font-family: 'Futura-CL';
  src: url('~/src/assets/fonts/Futura/Futura-CondensedLight.otf');
}

// Helvetica
@font-face {
  font-family: 'Helvetica-Bold';
  src: url('~/src/assets/fonts/Helvetica/Helvetica-Bold.ttf');
}
@font-face {
  font-family: 'Helvetica-BoldOblique';
  src: url('~/src/assets/fonts/Helvetica/Helvetica-BoldOblique.ttf');
}
@font-face {
  font-family: 'Helvetica-Compressed';
  src: url('~/src/assets/fonts/Helvetica/helvetica-compressed-5871d14b6903a.otf');
}
@font-face {
  font-family: 'helvetica-light';
  src: url('~/src/assets/fonts/Helvetica/helvetica-light-587ebe5a59211.ttf');
}
@font-face {
  font-family: 'Helvetica-Oblique';
  src: url('~/src/assets/fonts/Helvetica/Helvetica-Oblique.ttf');
}
@font-face {
  font-family: 'Helvetica';
  src: url('~/src/assets/fonts/Helvetica/Helvetica.ttf');
}
