@import '../../App.scss';

.LandingTestimonials {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;

  &-Content {
    margin-top: 20rem;
    width: 100%;
    max-width: 1680px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5rem;
    justify-items: center;

    @media (max-width: $BreakLarge) {
      width: 90%;
    }

    .Center {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;

      h4 {
        margin-left: -7.5%;
        width: 115%;
        margin-top: 1rem;
        margin-bottom: 6.5rem;
        text-align: center;
        font-size: 3rem;
        line-height: 3.8rem;
      }
    }
  }

  &-Content2 {
    display: flex;
    flex-direction: column;
    width: 90%;

    h4 {
      margin-left: -7.5%;
      width: 115%;
      margin-top: 10rem;
      margin-bottom: 1rem;
      text-align: center;
      font-size: 3rem;
      line-height: 3.8rem;
    }

    .TestimonialWidget {
      margin: 2rem 0;
    }
  }
}

.TestimonialWidget {
  position: relative;
  width: 100%;
  height: 22.5rem;
  background-color: $LightOrange;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;

  * {
    color: black;
  }

  .Info {
    width: 100%;
    height: 14.8rem;
    padding: 1.4rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }

  .NameBox {
    display: flex;
    align-items: center;

    img {
      width: 4.8rem;
      height: 4.8rem;
      border-radius: 20rem;
      border: solid 2px $DarkOrange;
      object-fit: cover;
    }

    .Names {
      margin-left: 1.1rem;
      display: flex;
      flex-direction: column;

      h5 {
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-family: 'Futura';
      }

      h6 {
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-family: 'Futura-MBT';
        font-weight: 200;
      }
    }
  }

  .TestimonialText {
    width: 100%;
    font-size: 1.2rem;
    color: rgb(71, 71, 71);
  }

  button {
    font-size: 1.2rem;
    text-decoration: underline;
  }

  .Stats {
    position: absolute;
    bottom: 0;
    margin-top: 1rem;
    width: 100%;
    height: 6.3rem;
    background-color: $DarkishOrange;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1600px) {
      padding: 0 2rem;
    }

    .Stat-Item {
      display: flex;

      .Icon {
        height: 2rem;
        width: 1rem;
        path {
          color: rgba(57, 147, 77, 1);
        }
      }

      &-Right {
        display: flex;
        flex-direction: column;

        .NumLine {
          display: flex;
          align-items: end;

          .Number {
            font-size: 2rem;
            line-height: 2rem;
            font-family: 'Futura';
          }

          .Percent {
            margin-left: 0.1rem;
            margin-bottom: 0.2rem;
            font-size: 1rem;
            line-height: 1rem;
          }
        }

        .StatName {
          font-size: 0.9rem;
          font-weight: 600;
        }
      }
    }
  }
}
